<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>An error occured</h1>
    <p>We are working on it...Sorry for the inconvience caused</p>
    <p><a href="/">Go back to home</a></p>
    
<%- include('includes/end.ejs') %>